body {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: black;
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.settings-container {
    display: flex;
}

.settings-box {
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 4em;
    border-radius: 50px;
    width: 100%;
    max-height: 510px;
}

.sidebar {
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100%;
    width: 80px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;
  }
  .sidebar div {
    padding: 5px;
    font-size: 24px;
    display: block;
  }

.input-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.input-group input {
    border: none;
    outline: none;
    padding: 0.5em;
    width: 276px;
    border-radius: 18px;
    background: #7c7c7c2b;
    color: white;
    font-size: 86%;
    margin-right: 10px;
}

.input-group button {
    border-radius: 50%;
    border: none;
    height: 35px;
    width: 43px;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.input-group button:hover {
    background: rgba(255, 255, 255, 0.749);
}

.react-calendar__month-view__days {
  height: 330px;
}

button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

button.react-calendar__navigation__label {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

button.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

button.react-calendar__tile.react-calendar__month-view__days__day {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.react-calendar__month-view__weekdays {
  color: white;
}