body {
    background-color: #222;
    font-size: 80%;
    overflow-y: hidden;
    overflow-x: hidden;
}


/*Start of WeatherCard Css Code*/
.weathercard {
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    padding: 2em;
    border-radius: 70px;
    height: 231px;
    width: 418px;
    position: absolute;
    left: 88px;
    top: 111px;
}
.weather {
    left: 10px;
    top: 46px;
    position: relative;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 18px;
    left: 40px;
    position: absolute;
}
button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 31px;
    width: 33px;
    background: #545454;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}
button:hover {
    background: rgba(255, 255, 255, 0.749);
}
input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgb(0 0 0 / 0.41);
    color: white;
    font-size: 100%;
    width: 273px;
}
h1.temp {
    margin-bottom: -0.1em;
}
.city {
    margin-bottom: -0.4em;
    margin-top: 0em;
}
.flex {
    display: flex;
    align-items: center;
}
.description {
    text-transform: capitalize;
    margin-left: 8px;
}
.weather.loading {
    visibility: hidden;
}
.weather.loading:after {
    visibility: visible;
    content: "Loading... Please Sit Back While We Get The Necessary Data For You :-)";
    color: white;
    position: absolute;
    top: 0;
}
/*End of WeatherCard Css Code*/


/*Start of NewsCard Css Code*/
.headlinescard {
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    overflow-y: auto;
    height: 728px;
    width: 500px;
    border-radius: 70px;
    top: -330px;
    left: 1067px;
}
label.newslabel {
    color: white;
    position: relative;
    font-size: 140%;
    left: 180px;
    top: 4px;
}
.newssearch{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 500px;
}
input.news-search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgb(0 0 0 / 0.41);
    color: white;
    font-size: 100%;
    width: 240px;
}
.newsscard {
    display: list-item;
    overflow-y: auto;
    height: 662px;
    width: 500px;
}
.newscard {
    padding: 2em;
    color: azure;
}
a {
    color: azure;
}
/*End of NewsCard Css Code*/


/*Start of TaskCard Css Code*/
.taskcard {
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2em;
    color: white;
    display: flex;
    height: 410px;
    width: 423px;
    border-radius: 70px;
    flex-direction: column;
    left: 580px;
    top: 281px;
    position: absolute;
}
.form-inline {
    left: 25px;
    position: relative;
}
label.labelet {
    left: 6px;
    position: relative;
}
input#inputTodo {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgb(0 0 0 / 0.41);
    color: white;
    width: 300px;
    height: 15px;
    left: 4px;
}
.col-md-6 {
    display: list-item;
    overflow-y: auto;
    width: -webkit-fill-available;
}
/*End of TaskCard Css Code*/


/*Start of CalanderCard Css Code*/
.calendar {
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
    border-radius: 70px;
    padding: 2em;
    position: relative;
    top: 400px;
    left: 80px;
    width: 471px;
    height: 336px;
    box-sizing: border-box;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 10px;
}
.calendar-week-day {
    height: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}
.calendar-week-day div {
    display: grid;
    place-items: center;
    color: #a49b9b;
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    place-items: center;
    color: white;
}
.calendar-days div {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}
.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}
.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: #8a8383;
    color: white;
    border-radius: 50%;
}
.calendar-days div.curr-date span {
    display: none;
}
/*End of CalanderCard Css Code*/


/*Start of GoogleCard Css Code*/
.linkscard {
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2em;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    top: 105px;
    left: 580px;
    position: absolute;
    height: 110px;
    width: 423px;
}
input.googlesearch-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgb(0 0 0 / 0.41);
    color: white;
    font-size: 100%;
    width: 284px;
}
/*End of GoogleCard Css Code*/


/*Start of Footer Css Code*/
div#ComDash {
    font-size: 31px;
    top: -24px;
    left: 155px;
    color: #a49b9b;
    position: absolute;
}
/*End of Footer Css Code*/


/*Start of Sidebar Css Code*/
.sidebar {
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100%;
    width: 65px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 40px;
}
.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
}
.baricons {
    left: 1px;
    position: relative;
    top: -40px;
}
img#Comicon {
    position: relative;
    height: 50px;
    width: 50px;
    left: -2px;
}
div#Dashbutton,
div#Setbutton {
    left: -10px;
    position: relative;
}
.baraboutus {
    bottom: 25px;
    position: absolute;
}
/*End of Sidebar Css Code*/