body {
    background-color: #222;
}


/*Start of WeatherCard Css Code*/
.weathercard {
    background: #000000b9;
    color: white;
    padding: 2em;
    border-radius: 70px;
    height: 256px;
    width: 420px;
    position: absolute;
    left: 20px;
    top: 13px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 41px;
    outline: none;
    background: #363636;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #000000;
    color: white;
    font-family: inherit;
    font-size: 80%;
    width: 273px;
}
button:hover {
    background: #7c7c7c6b;
}
h1.temp {
    margin-bottom: -0.1em;
}
.city {
    margin-bottom: -0.4em;
    margin-top: 0em;
}
.flex {
    display: flex;
    align-items: center;
}
.description {
    text-transform: capitalize;
    margin-left: 8px;
}
.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
.weather.loading:after {
    visibility: visible;
    content: "Loading... Please Sit Back While We Get The Necessary Data For You :-)";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}
/*End of WeatherCard Css Code*/


/*Start of NewsCard Css Code*/
.headlinescard {
    background: #000000b9;
    position: absolute;
    overflow-y: auto;
    height: 728px;
    width: 500px;
    border-radius: 70px 50px 50px 70px;
    bottom: 10px;
    right: 17px;
}
label.newslabel {
    color: white;
    position: relative;
    font-family: inherit;
    font-size: 140%;
    left: 164px;
    top: 4px;
}
.newssearch{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 500px;
}
input.news-search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #000000;
    color: white;
    font-family: inherit;
    font-size: 80%;
    width: 240px;
}
.newsscard {
    background: #00000000;
    display: list-item;
    position: absolute;
    overflow-y: auto;
    height: 650px;
    width: 500px;
    bottom: 0px;
}
.newscard {
    padding: 1em;
    color: azure;
}
/*End of NewsCard Css Code*/


/*Start of TaskCard Css Code*/
.taskcard {
    padding: 2em;
    color: white;
    display: flex;
    background-color: #000000b9;
    height: 357px;
    width: 423px;
    border-radius: 70px;
    flex-direction: column;
    left: 550px;
    top: 307px;
    position: absolute;
}
input#list {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #000000;
    color: white;
    font-family: inherit;
    font-size: 80%;
    width: 323px;
    height: 15px;
}
button.pull-right {
    padding: 0.5em;
}
.col-md-6 {
    overflow-y: auto;
    width: -webkit-fill-available;
}
/*End of TaskCard Css Code*/


/*Start of CalanderCard Css Code*/
.calendar {
    background-color: #000000b9;
    color: white;
    border-radius: 70px;
    padding: 2em;
    position: relative;
    top: 345px;
    left: 12px;
    width: 485px;
    height: 324px;
    box-sizing: border-box;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #f8fbff;
    padding: 10px;
}
.calendar-week-day {
    height: 25px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}
.calendar-week-day div {
    display: grid;
    place-items: center;
    color: #79788c;
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    color: #f8fbff;
}
.calendar-days div {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}
.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}
.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: #8a8383;
    color: #f8fbff;
    border-radius: 50%;
}
.calendar-days div.curr-date span {
    display: none;
}
/*End of CalanderCard Css Code*/


/*Start of GoogleCard Css Code*/
.linkscard {
    background-color: #000000b9;
    padding: 2em;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    top: 13px;
    left: 550px;
    position: absolute;
    height: 90px;
    max-height: 100%;
    width: 423px;
}
input.googlesearch-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #000000;
    color: white;
    font-family: inherit;
    font-size: 80%;
    width: 284px;
}
/*End of GoogleCard Css Code*/


/*Start of Footer Css Code*/
.footer {
    position: fixed;
    text-align: left;
    color: white;
    bottom: 4px;
    left: 9px;
    width: 50%;
}
a:link {
    color: #FFFFFF;
}
a:visited {
    color: #FFFFFF;
}
a:hover {
    color: #545458;
}
/*End of Footer Css Code*/



/*TESTING*/
.progress {
    background-color: rgb(0, 0, 0);
    height: 20px;
    position: absolute;
    width: 490px;
    left: 1px;
}

.progress>svg {
    display: block;
    height: 100%;
}

#percent {
    font-family: 'Courier New', Courier, monospace;
}

img#sunrise {
    width: 40px;
    height: 40px;
    position: relative;
    left: 80px;
}

img#sunset {
    width: 40px;
    height: 40px;
    position: relative;
    left: 275px;
}

.suntimer {
    background: #000000b9;
    position: absolute;
    border-radius: 30px;
    height: 94px;
    width: 497px;
    left: 534px;
    top: 177px;
    margin: 1em;
}

label#sleep {
    left: 226px;
    color: #eaeaea;
    position: relative;
}

label#wakeup {
    left: 30px;
    color: #eaeaea;
    position: relative;
}

p#demo {
    text-align: center;
    font-size: 17px;
    position: absolute;
    top: 0px;
    color: #eaeaea;
    left: 155px;
}