:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 4rem;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-repeat: no-repeat;
    background-size: cover;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .container {
    display: grid;
    grid-gap: 10px;  /* Simply adjust this value !*/
    grid-template-columns: repeat(3, 1fr); /* OR grid-template-columns: 1fr 1fr 1fr;*/
    grid-auto-rows: 1fr;
  
  }
  
  .searchbar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgb(0 0 0 / 0.41);
    color: white;
    font-size: 100%;
    width: 273px;
    text-align: center;
  }
  
  select#country-search-bar {
    border: none;
    outline: none;
    width: 200px;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgb(0 0 0 / 0.41);
    color: white;
    font-size: 100%;
  }
  select#news-search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgb(0 0 0 / 0.41);
    color: white;
    font-size: 100%;
  }
  
  button#google-search-bar {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 31px;
    width: 33px;
    background: #545454;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
  }
  button:hover#google-search-bar{
    background: rgba(255, 255, 255, 0.749);
  }

  button#add-todo-button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 31px;
    width: 33px;
    background: #545454;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
  }
  button:hover#add-todo-button{
    background: rgba(255, 255, 255, 0.749);
  }

  button#news-search {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 31px;
    width: 33px;
    background: #545454;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
  }
  button:hover#news-search{
    background: rgba(255, 255, 255, 0.749);
  }
  
  .tododiv {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    border-bottom-left-radius: 3em;
    color: rgb(217, 217, 217);
    padding: 2em;
    text-align: center;
    height: 833px;
  }
  
  .todolist {
    overflow: auto;
    display: list-item;
    width: 655px;
    overflow-y: auto;
    height: -webkit-fill-available;
    left: inherit;
    position: absolute;
  }
  
  .newsAccordion {
      overflow: auto;
      display: list-item;
      height: 585px;
    }
  
  
  .weatherdiv {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3em;
    height: 460px;
    color: rgb(255, 255, 255);
    padding: 3em;
  }
  
  .stockdiv {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3em;
    height: 160px;
    text-align: center;
    padding: 2em;
  }
  
  .newsdiv {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    border-bottom-left-radius: 3em;
    color: rgb(255, 255, 255);
    text-align: center;
    min-height: 1116px;
    padding: 2em;
  }
  
  div#newsAccordion {
    position: absolute;
    overflow-y: auto;
    height: -webkit-fill-available;
    left: inherit;
  }
  
  .googlediv {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3em;
    color: black;
    height: 150px;
    text-align: center;
    padding: 2em;
  }
  
  .calenderdiv{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3em;
    height: 380px;
    color: black;
    text-align: center;
    padding: 2em;
  }

  .react-calendar__month-view__days {
    height: 330px;
  }
  
  
  .sidebar {
    background: rgba(0, 0, 0, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(11.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100%;
    width: 80px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;
  }
  .sidebar div {
    padding: 6px;
    font-size: 24px;
    display: block;
  }
  .baricons {
    left: 1px;
    position: relative;
    top: -40px;
  }
  
  img#Comicon {
    position: relative;
    height: 50px;
    width: 50px;
    left: 3px;
  }
  div#Dashbutton,
  div#Setbutton {
    left: -2px;
    position: relative;
  }
  .baraboutus {
    bottom: 25px;
    position: absolute;
    left: 8px;
  }
  .weatherforecast {
    margin: 4px, 4px;
    padding: 4px;
    width: 576px;
    height: 306px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .forecast{
    border-Radius: 10px;
    padding: 15px;
    width: 250px;
    height: 320px;
    margin-Bottom: 15px;
  }
  
  h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 0.55em;
    margin-block-end: 0.50em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }
  ul {
    color: white;
    font-size: 1.17em;
    font-weight: bold;
}

button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

button.react-calendar__navigation__label {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

button.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

button.react-calendar__tile.react-calendar__month-view__days__day {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.react-calendar__month-view__weekdays {
  color: white;
}